h1 {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
}

img {
	width: 45%;
	padding-top: 5px;
	padding-bottom: 5px;
}

.bodyDiv:after {
	display: inline;
}

.RAPics {
	float: left;
	border: 1px solid #C3142D;
	padding: 5px;
	text-align: center;
	width: 18%;
}
